<!DOCTYPE html>
<html {{- if (eq .Site.Params.mode "dark") -}}class="dark"{{ end }}>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="recent-posts section">
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
					<div class="post" style="font-family:verdana;Segoe UI">
						<h1>Hi,</h1>
            <p style="font-weight: 500; font-size: 2.2em">there's Jude 🎃</p>
            <p style="font-size: 1.5em">
              Interested in everything about computer science (CS), with ambition to be full-stack engineer. Also, enjoy counter strike (CS) ✨ 
            </p>
            <p style="font-size: 1.5em">
              I am from China and I can speak both Chinese and English. Feel free to ask me any question by email in the top right. &#x1F44F	
            </p>
            <p>
              <div class="row" align="center">
              <img src="https://raw.githubusercontent.com/PinkR1ver/ImageHosting/90fc7de607087218ec32dba6a0205517343f7678/Home/pinkr1ver.svg" alt="PinkR1ver Studio" align="left" width="auto" height="300">
              <img src="https://i.ibb.co/CzRY4yc/photo-2022-04-06-15-13-00.jpg" alt="Wang Yichong"  width="auto" height="300">
              </div>
            </p>
					</div>
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
